---
# 
---
$fa-font-path: "../assets/fonts/font-awesome/";
@import 'font-awesome';

@media only screen {

    html, body {
        height: 100%;
    }

    body {
	background-color: #FCFFF5;
    }

    #content {
	min-height: 100%;
    }

    .container {
	width: 900px;
    }

    .page-container {
	background-color: white;
	border: solid #e3e3e3;
	border-width: 0 1px;
	padding: 0 20px;
	width: 858px;
    }

    .navbar-fixed-top .container {
	width: 900px;
    }

    .page {
	margin: 15px 0;
    }

    #page-cv .pdf-download {
        display: block;
        float: right;
        margin-right: -17px;
    }

    #page-cv .pdf-download i {
        color: #ED4337;
    }

    #page-cv .pdf-download:hover i {
        color: #333333;
    }


    #page-cv .pdf-download .icon-label {
        color: white;
        font-size: 0.3em;
        font-weight: bold;
        margin: -20px 0 0 -9px;
    }

    #page-cv .print {
        display: none;
    }
}

#page-cv .photo {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

#page-cv h2 {
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 7px;
    border: 1px solid #C4C4C4; 
    border-left: 4px solid #4884AF;
    border-radius: 2px;
}

@media print {
    #page-cv .screen {
        display: none;
    }
    
    #page-cv .pdf-download {
        display: none;
    }
}
