---
# 
---
$fa-font-path: "../assets/fonts/font-awesome/";
@import 'font-awesome';

@media only screen {

    html, body {
        height: 100%;
    }

    body {
	background-color: #FCFFF5;
    }

    #content {
	min-height: 100%;
    }

    .container {
	width: 900px;
    }

    .page-container {
	background-color: white;
	border: solid #e3e3e3;
	border-width: 0 1px;
	padding: 0 20px;
	width: 858px;
    }

    .navbar-fixed-top .container {
	width: 900px;
    }

    .page {
	margin: 15px 0;
    }

    #page-cv .pdf-download {
        display: block;
        float: right;
        margin-right: -17px;
    }

    #page-cv .pdf-download i {
        color: #ED4337;
    }

    #page-cv .pdf-download:hover i {
        color: #333333;
    }


    #page-cv .pdf-download .icon-label {
        color: white;
        font-size: 0.3em;
        font-weight: bold;
        margin: -20px 0 0 -9px;
    }
}

#page-cv .photo {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

#page-cv h2 {
    margin: 15px -20px;
    padding: 0 20px;
    border-bottom: 1px solid #e3e3e3; 
    border-top: 3px solid #C8DBE9;
}

#page-cv h2.undecorated {
    margin: 15px 20px;
    border-width: 0;
}

// #page-cv h2:before {
//     margin: 0px -20px 0 -20px;
//     content: "\a0";
//     display: block;
//     line-height: 1px;
//     border-top: 1px solid #e3e3e3; 
// }

@media print {
    #page-cv .pdf-download {
        display: none;
    }
}
